h2 {
    /*
        Definir a cor do texto utilizando rgb (red, green, blue)
        R => 0..255
        G => 0..255
        B => 0..255
    */
    color: rgb(120, 192, 145);
    /* color: rgba(120, 192, 145, 0.1); */
}
